* {
    margin: 0;
    padding: 0;
}
.text {
    font-family: "Nunito Sans", sans-serif;
} 

header {
    background-color: blue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;  
}
#startBtn, #stopBtn, #clearBtn, #reverseBtn, #startReverseBtn, #backBtn {
  padding: 10px 20px;
  background-color: blue;
  border: 0;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
#reverseBtn {
  margin-top: 15px;
}
#timer {
  margin-top: 15px;
  font-size: 30px;
}
#reverseTimer {
  text-align: center;

}
.hidden {
  display: none;
}
.timer {
  text-align: center;
  margin-top: 150px;
}
.timer-display {
  font-size: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}
#reverseTimeInput {
  padding: 10px 15px;
  border-radius: 10px;
}